{% load static %}
<link rel="stylesheet" href="{% static 'notes/css/custom.css' %}">
<h1>Заметки</h1>

<a href="{% url 'note_create' %}" class="btn">Создать заметку</a>
<a href="{% url 'logout' %}" class="btn">Выйти</a>

<form method="get">
    <input type="text" name="q" placeholder="Поиск">
    <button type="submit">Найти</button>
</form>

<ul>
{% for note in notes %}
    <li>
        <a href="{% url 'note_detail' note.id %}">{{ note.title }}</a>
    </li>
{% empty %}
    <li>Заметок нет</li>
{% endfor %}
</ul>